# Requirements file for the Chemputer suite

# those packages SHOULD be fine with the most recent versions, if not try the ones mentioned in the comments
pyserial>=3.3        # tested with 3.3

# 4.4 causes errors in CI, should find a way round this so we can
# use latest version.
opencv-contrib-python==4.5.1.48
imutils==0.5.3
# This is only required because scikit-image has a broken install on
# Python 3.9
numpy==1.19.3
scikit-image==0.18.0
networkx>=2.2   # tested with 2.2
pytest
pytest-mock
python-socketio==4.6.0
# Version 4 causes socketio to break.
python-engineio==3.13.0
